/* Arquivo de estilizações da tela de sobre mim do portfólio */

.background-sobre-mim{
    background-color: #262626;
    width: 100%;
    padding: 100px 0px;
}

.background-sobre-mim img{
    width: 358px;
    height: auto;
}

.text-sobre-mim{
    width: 500px;
}

.main-sobre{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
}

.text-sobre-mim h2{
    color: #D3D3D3;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.text-sobre-mim h5{
    color: #D3D3D3;
    font-size: 24px;
    letter-spacing: 2px;
    margin-bottom: 25px;
    text-transform: capitalize;
}

.text-sobre-mim p{
    color: #D3D3D3;
    letter-spacing: 1px;
    line-height: 25px;
    font-size: 18px;
}

.terminal-sobre-mim{
    background-color: #282a3680;
    border: 1px solid #000000;
    padding: 2px;
    overflow: hidden
}

.terminal-topo{
    display: flex;
    background-color: #a49c9a;
    border-bottom: 1px solid #000000;
    width: 100%;
    justify-content: space-between;
}

.terminal-topo img{
    height: 20px;
    width: auto;
    padding-left: 4px;
    padding-top: 4px;
}

button{
    background-color: #a49c9a;
    border: none;
    cursor: pointer;
    padding-right: 8px;
    padding-left: 4px;
}

button:hover{
    background-color: #DCDCDC;
}

#fechar:hover{
    cursor: no-drop;
}

#text-sobre-mim{
    visibility: none;
}